{% extends 'admin/base_site.html' %}
{% block content %}
<h1>THONG KE KHOA HOC THEO DANH MUC</h1>
<ul>
    {% for s in stats %}
    <li><strong>{{ s.name }}</strong>{{ s.count }}</li>
    {% endfor %}
</ul>
<div style="width:500">
  <canvas id="myChart"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    window.onload = function(){
    list data =[]
    list labels =[]
    {% for s in stats %}
    data.push({{ s.count }})
    labels.push('{{ s.name }}')
    {% endfor %}
      const ctx = document.getElementById('myChart');

      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: labels,
          datasets: [{
            label: '# thong ke theo khoa hoc',
            data: data,
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
  });
    }

</script>
{% endblock %}